#google_button_placeholder > div {
    max-width: 260px;
    margin: 0 auto;
}

#google_button_placeholder iframe, .g_id_signin iframe, .g_id_signin > div > div > div {
    margin: 0 auto !important;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
    font-size: 50px;
    text-decoration: none;
    color: black;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
    }

    body {
        background-color: #202020;
        color: white;
    }

    .card-panel, .dropdown-content {
        background-color: #303030;
    }

    .modal {
        background-color: #202020;
    }

    #back-to-top {
        color: white;
    }

    table.striped>tbody>tr:nth-child(odd) {
        background-color: #2c2c2c;
    }
}



#viewModal .view-top-copy-btn {
    padding-left: 1rem;
    padding-right: 1rem;
}
