## http://stackoverflow.com/a/25961313/6257838

Header set Report-To "{\
'group': 'report-uri',\
'max_age': 10886400\
'endpoints': [\
{'url':'https://inventivetalent.report-uri.com/r/d/csp/enforce'}\
]\
}"
Header set Content-Security-Policy "base-uri 'self'; \
 default-src 'self'; \
 script-src 'report-sample' 'self' 'unsafe-inline' *; \
 style-src 'report-sample' 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://maxcdn.bootstrapcdn.com https://use.fontawesome.com https://accounts.google.com; \
 font-src 'self' https://cdnjs.cloudflare.com https://maxcdn.bootstrapcdn.com https://use.fontawesome.com; \
 img-src 'self' blob: data: https://mineskin.org https://api.mineskin.org https://render.mineskin.org https://brand.inventivetalent.dev *; \
 connect-src 'self' https://mineskin.org https://api.mineskin.org https://*.api.mineskin.org *; \
 frame-src 'self' *; \
 media-src 'self'; \
 worker-src 'none'; \
 report-uri https://inventivetalent.report-uri.com/r/d/csp/enforce; \
 report-to report-uri"


# Based on https://gist.github.com/thoop/8072354
# Filter for crawlers
RewriteCond %{HTTP_USER_AGENT} googlebot|bingbot|yandex|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|discordbot|vkShare|W3C_Validator [NC,OR]
RewriteCond %{QUERY_STRING} _escaped_fragment_

# Only rewrite html requests
RewriteRule ^(?!.*?(\.js|\.css|\.xml|\.less|\.png|\.jpg|\.jpeg|\.gif|\.pdf|\.doc|\.txt|\.ico|\.rss|\.zip|\.mp3|\.rar|\.exe|\.wmv|\.doc|\.avi|\.ppt|\.mpg|\.mpeg|\.tif|\.wav|\.mov|\.psd|\.ai|\.xls|\.mp4|\.m4a|\.swf|\.dat|\.dmg|\.iso|\.flv|\.m4v|\.torrent|\.ttf|\.woff))(.*) prerender.php [L]



# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite everything else to index.html to allow html5 state links
RewriteRule ^ index.html [L]



Options -Indexes
