<style>
    #google_button_placeholder > div {
        max-width: 260px;
        margin: 0 auto;
    }
    #google_button_placeholder iframe, .g_id_signin iframe, .g_id_signin > div > div > div {
        margin: 0 auto !important;
    }
</style>
<div class="row">
    <br/>
    <div class="center col s6 offset-s3">
        <div class="row" ng-init="loadAccount()">
            <h3>Account</h3>

            <div id="google_button_placeholder" ng-if="!mineskinAccount" ng-init="loadLogin()">
                <div class="g_id_signin"
                     data-locale="en"
                     data-logo_alignment="left"
                     data-shape="pill"
                     data-size="large"
                     data-text="continue_with"
                     data-theme="filled_blue"
                     data-type="standard"
                     data-width="260">
                </div>
            </div>

            <div ng-if="mineskinAccount">
                <div class="row">
                    <pre>{{ mineskinAccount }}</pre>
                </div>

                <div class="row">
                    <pre>{{ minecraftAccounts }}</pre>
                    <pre>{{ apiKeys }}</pre>
                </div>

                <div class="row">
                    <h4>Minecraft Accounts</h4>
                    <div class="collection" style="text-align: left">
                        <a class="collection-item" ng-repeat="mcAccount in minecraftAccounts" ui-sref="account_minecraft({email:mcAccount.email})">
                            [{{ mcAccount.accountType }}] <strong>{{ mcAccount.playername }}</strong>  {{ mcAccount.email }} <br/>
                            <span ng-show="!mcAccount.enabled">(disabled)</span>
                            <span ng-show="mcAccount.hasErrors">(has errors)</span>
                        </a>
                    </div>
                </div>


                <div class="row">
                    <button class="btn waves-effect waves-light orange" ng-click="logout()">Logout</button>
                </div>
            </div>

        </div>
    </div>
</div>
