<style>
    #google_button_placeholder > div {
        max-width: 260px;
        margin: 0 auto;
    }
    #google_button_placeholder iframe, .g_id_signin iframe, .g_id_signin > div > div > div {
        margin: 0 auto !important;
    }
</style>
<div class="row">
    <br/>
    <div class="center col s6 offset-s3">
        <div class="row" ng-init="loadAccount()">
            <h3>Account</h3>

            <div class="row" ng-if="mineskinAccount && googleUser">
                <h5>Hi, {{ googleUser.name }}!</h5>
            </div>

            <div class="row" ng-if="!mineskinAccount" >
                <div id="google_button_placeholder" ng-init="loadLogin()">
                    <div class="g_id_signin"
                         data-locale="en"
                         data-logo_alignment="left"
                         data-shape="pill"
                         data-size="large"
                         data-text="continue_with"
                         data-theme="filled_blue"
                         data-type="standard"
                         data-width="260">
                    </div>
                </div>

                <br/>
                <a ui-sref="account_minecraft">Submit a Minecraft account without signing in</a>
            </div>

            <div ng-if="mineskinAccount">
                <br/>
                <div class="row">
                    <h4>Minecraft Accounts</h4>
                    <span ng-if="!minecraftAccounts || minecraftAccounts.length == 0">None :(</span>
                    <table class="striped">
                        <tbody>
                            <tr ng-repeat="mcAccount in minecraftAccounts">
                                <td><a ui-sref="account_minecraft({email:mcAccount.email})"><strong>{{ mcAccount.playername }}</strong></a></td>
                                <td><a ui-sref="account_minecraft({email:mcAccount.email})">{{ mcAccount.email }}</a></td>
                                <td>
                                    <span ng-show="mcAccount.accountType == 'mojang'"> (mojang account)  </span>
                                    <span ng-show="!mcAccount.enabled"> (disabled) </span>
                                    <span ng-show="mcAccount.hasErrors"> (has errors) </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <a class="btn waves-effect waves-light" ui-sref="account_minecraft">Add Account</a>
                </div>

                <br/>
                <div class="row">
                    <h4>API Keys</h4>
                    <span ng-if="!apiKeys || apiKeys.length == 0">None</span>
                    <table class="striped">
                        <tbody>
                            <tr ng-repeat="key in apiKeys">
                                <td><strong>{{ key.name }}</strong></td>
                                <td>Last used: {{ key.lastUsed || 'Never' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <a class="btn waves-effect waves-light" ui-sref="apikey">Manage API Keys</a>
                </div>

                <br/>
                <div class="row">
                    Make sure to <a href="https://yeleha.co/discord" target="_blank">join the Discord</a> before linking!
                    <br/>
                    <button class="btn waves-effect waves-light blue" ng-click="linkDiscord()">Link Account to Discord</button>
                </div>


                <br/>
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <button class="btn waves-effect waves-light orange" ng-click="logout()">Logout</button>
                </div>

                <!-- TODO: account delete -->
                <br/>
                <br/>
                <i>If you would like to delete your account, please contact <span>account@mineskin.org</span> from your registered email. <br/>Please note that this might break any linked accounts, api keys, etc..</i>
            </div>

        </div>
    </div>
</div>
