<div class="row">
    <div class="col s6 offset-s3">
        <div class="row" ng-init="loadAccount()">
            <h1>API Key Manager</h1>

            <div>
                <div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select ng-change="loadExistingKeyInfo()" ng-model="keyAction">
                                <option selected value="create">Create a new API Key</option>
                                <option value="update">Update an Existing API Key</option>
                                <option value="delete">Delete an API Key</option>
                            </select>
                            <label>Action</label>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div ng-if="keyAction === 'create' && !mineskinAccount">
                    <div id="google_button_placeholder" ng-if="!mineskinAccount" ng-init="loadLogin()">
                        <div class="g_id_signin"
                             data-locale="en"
                             data-logo_alignment="left"
                             data-shape="pill"
                             data-size="large"
                             data-text="continue_with"
                             data-theme="filled_blue"
                             data-type="standard"
                             data-width="260">
                        </div>
                    </div>
                </div>

                <br/>

                <div ng-show="(keyAction === 'create' && apiKey) || keyAction === 'update' || keyAction === 'delete'">
                    <span ng-show="keyAction === 'create'">
                        <strong style="font-size: 18px">Make sure to save these, you won't be able to see them again!</strong>
                        <br/>
                    </span>
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-change="loadExistingKeyInfo()" ng-model="apiKey" ng-readonly="keyAction === 'create'" type="text">
                            <label>API Key</label>
                            <span class="helper-text"><small>Used for Requests</small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="apiSecret" ng-readonly="keyAction === 'create'" type="text">
                            <label>Key Secret</label>
                            <span class="helper-text"><small>Used for Editing this Key</small></span>
                        </div>
                    </div>
                </div>

                <br/>

                <div ng-show="(keyAction === 'create' && mineskinAccount) || (keyAction === 'update' && apiKey)">
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="keyName" type="text">
                            <label>Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" ng-disabled="keyIps" ng-model="keyOrigins"></textarea>
                            <label>Allowed Origins (one per line)</label>
                            <span class="helper-text"><small>For Web Requests - https://mineskin.org, https://inventivetalent.dev, ...</small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" ng-disabled="keyOrigins" ng-model="keyIps"></textarea>
                            <label>Allowed IPs (one per line)</label>
                            <span class="helper-text"><small>For Server Requests - 1.2.3.4, 127.0.0.1, ...</small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" ng-model="keyAgents"></textarea>
                            <label>Allowed User-Agents (one per line)</label>
                            <span class="helper-text"><small>MineSkin, MyCoolApp, ...</small></span>
                        </div>
                    </div>
                </div>

                <br/>
                <br/>

                <button class="btn green" ng-click="create()" ng-disabled="!mineskinAccount || !keyName" ng-show="keyAction === 'create'">Create</button>
                <button class="btn blue" ng-click="update()" ng-disabled="!apiKey || !apiSecret" ng-show="keyAction === 'update'">Update</button>
                <button class="btn red" ng-click="delete()" ng-disabled="!apiKey || !apiSecret" ng-show="keyAction === 'delete'">Delete</button>
            </div>
        </div>
    </div>
</div>
