<div class="row">
    <div class="col s2">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <div google-ad="7496187466" scroll-with-view></div>
    </div>
    <div class="col s8">
        <style>
            /*
            * Based on http://stackoverflow.com/a/14260175/6257838
            */
            .skull-image {
                -webkit-filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.5));
                filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.5));

                min-width: 150px;
                min-height: 160px;
            }
        </style>

        <h2>Skin Gallery</h2>
        <div class="card-panel z-depth-2">
            <div class="row">
                <div class="col s12">
                    <div ng-init="galleryInit()">
                        <div>
                            <div class="row">
                                <div class="input-field col s4" style="margin-top:0">
                                    <input id="searchQuery" ng-change="searchChanged()" ng-maxlength="100" ng-minlength="1" ng-model="searchQuery" type="text">
                                    <label class="required-label" for="searchQuery">Search Query</label>
                                </div>
                                <div class="col s4">

                                </div>
                                <div class="col s4">
                                    <div class="pull-right">
                                        <button class="btn btn-primary" ng-click="toggleViewMode()" type="button">
                                            Toggle View
                                        </button>
                                        <button class="btn btn-primary" ng-click="toggleOwnSkins()" ng-show="$storage.recentSkins && $storage.recentSkins.length>0" type="button">
                                            Show {{ viewMode===2?'Gallery':'Own Skins' }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Regular Gallery -->
                        <div class="center-align" ng-if="viewMode !== 2">
                            <a class="galleryImage tooltipped"
                               data-delay="20"
                               data-position="top"
                               data-tooltip="{{skin.name || skin.uuid.substr(0, 8)}}"
                               href="/{{skin.uuid}}"
                               ng-repeat="skin in skins track by $index"
                               ui-sref="gallery.view({id:skin.uuid})"
                               ui-sref-options="{notify:false}">
                                <img class="skull-image" ng-class="{'new-image': (getLastSkinCookie() < skin.id)}"
                                     ng-preload-src="https://api.mineskin.org/render/{{viewMode == 0 ? 'head' : 'skin'}}?url={{skin.url}}&skinName={{skin.name}}" src="/img/loading.svg">
                            </a>
                        </div>
                        <!-- Own Skins -->
                        <div class="center-align" ng-if="viewMode === 2">
                            <a class="galleryImage tooltipped ownSkin"
                               data-delay="20"
                               data-position="top"
                               data-tooltip="{{skin.substr(0, 8)}}"
                               href="/{{skin.uuid}}"
                               ng-repeat="skin in $storage.recentSkins track by $index"
                               ui-sref="gallery.view({id:skin})"
                               ui-sref-options="{notify:false}">
                                <img class="skull-image" ng-preload-src="https://api.mineskin.org/render/{{ skin }}/head" src="/img/loading.svg">
                            </a>
                        </div>
                        <!-- Loading Placeholder -->
                        <div class="center-align" ng-hide="(viewMode < 2 && skins.length > 0 && !loading) || (viewMode == 2 && !!$storage.recentSkins && $storage.recentSkins.length > 0)">
                            <a class="galleryImage galleryImagePlaceholder" ng-repeat="x in [].constructor(64) track by $index">
                                <img class="skull-image" src="/img/loading.svg">
                            </a>
                        </div>

                        <div class="center-align">
                            <br/>
                            <a href="" ng-click="loadMore()" scrolly="loadMore()">load more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <!-- TODO: add this back, maybe
        <div class="card-panel z-depth-2" ng-show="$storage.recentSkins && $storage.recentSkins.length>0">
            <div class="row">
                <div class="col s12">
                    <h4>Your Skins</h4>

                    <div>
                        <a class="galleryImage tooltipped" data-delay="20" data-position="top" data-tooltip="{{ skin.substr(0, 8) }}" href="/{{skin}}" ng-repeat="skin in $storage.recentSkins | limitTo:8" ui-sref="gallery.view({id:skin})" ui-sref-options="{notify:false}">
                            <img ng-class="{'skull-image': !browser.isFirefox()}" src="/img/loading.svg" ng-preload-src="https://api.mineskin.org/render/{{ skin }}/head">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="col s2">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <div google-ad="4698154800" scroll-with-view></div>
    </div>
</div>
<a href="" ng-click="backToTop()" style="position: fixed; bottom: 20px; right: 20px; opacity: 0.5; font-size: 50px; text-decoration: none; color: black; ">
    <i aria-hidden="true" class="fa fa-arrow-circle-up"></i>
</a>
