<div class="row">
    <div class="col hide-on-small-only m2">
        <div google-ad="7496187466" scroll-with-view></div>
    </div>
    <div class="col s12 m8">
        <style>
            /*
            * Based on http://stackoverflow.com/a/14260175/6257838
            */
            .skull-image {
                -webkit-filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.5));
                filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.5));

                min-width: 150px;
                min-height: 160px;
                max-width: 170px;
                max-height: 170px;
            }

            .galleryImage {
                display: inline-block;
                min-width: 150px;
                min-height: 160px;
                margin: 0 2px;
            }


            @media (max-width: 992px) {
                .skull-image {
                    min-width: 75px;
                    min-height: 80px;
                    max-width: 90px;
                    max-height: 90px;
                }

                .galleryImage {
                    min-width: 75px;
                    min-height: 80px;
                }

                .row .col {
                    padding: 0 0.25rem;
                }
            }

            .galleryImage > img {
                transition: opacity 800ms ease;
                opacity: 1;
            }

            .galleryImage:not(.intersecting) > img {
                opacity: 0;
            }
        </style>

        <h2>Skin Gallery</h2>
        <div class="card-panel z-depth-2">
            <span>
                Read: <a href="https://blog.mineskin.org/2024/07/14/anniversary-and-future.html" target="_blank">The Anniversary and Future of MineSkin</a>
            </span>
        </div>
        <div class="card-panel z-depth-2">
            <div class="row">
                <div class="col s12">
                    <div ng-init="galleryInit()">
                        <div>
                            <div class="row">
                                <div class="input-field col m4 s4" style="margin-top:0">
                                    <input id="searchQuery" ng-change="searchChanged()" ng-maxlength="100" ng-minlength="1" ng-model="searchQuery" type="text">
                                    <label class="required-label" for="searchQuery">Search</label>
                                </div>
                                <div class="col m4 hide-on-small-only">
                                </div>
                                <div class="col m4 s8">
                                    <div class="pull-right">
<!--                                        <button class="btn btn-primary" ng-click="toggleViewMode()" type="button">-->
<!--                                            Toggle View-->
<!--                                        </button>-->
                                        <button class="btn btn-primary truncate" ng-click="toggleOwnSkins()" ng-show="ownSkins && ownSkins.length>0" type="button">
                                            Show {{ viewMode===2?'Gallery':'Own Skins' }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Regular Gallery -->
                        <div class="center-align" ng-if="viewMode !== 2">
                            <a class="galleryImage" observeme
                               href="/{{skin.uuid}}"
                               ng-repeat="skin in skins track by $index"
                               ui-sref="gallery.view({id:skin.uuid})"
                               ui-sref-options="{notify:false}">
                                <img alt="{{ skin.name || ('Unnamed Skin ' + skin.uuid.substr(0,8)) }}" class="skull-image"
                                     ng-preload-src="https://render.mineskin.org/render?overlay=true&body={{viewMode == 0 ? 'false' : 'true'}}&url={{skin.url}}" src="/img/questionhead.png"/>
                            </a>

                            <a class="galleryImage galleryImagePlaceholder" ng-repeat="x in [].constructor(64) track by $index" observeme-load>
                                <img alt="Loading more skins..." class="skull-image" ng-if="$index === 0 || $index === 63" scrolly="loadMore()" src="/img/questionhead.png"/>
                                <img alt="Loading more skins..." class="skull-image" ng-if="$index !== 0 && $index !== 63" src="/img/questionhead.png"/>
                            </a>
                        </div>
                        <!-- Own Skins -->
                        <div class="center-align" ng-if="viewMode === 2">
                            <a class="galleryImage ownSkin" observeme
                               href="/{{skin}}"
                               ng-repeat="skin in ownSkins track by $index"
                               ui-sref="gallery.view({id:skin})"
                               ui-sref-options="{notify:false}">
                                <img class="skull-image" ng-preload-src="https://api.mineskin.org/render/{{ skin }}/head" src="/img/questionhead.png"/>
                            </a>
                        </div>

<!--                        &lt;!&ndash; Loading Placeholder &ndash;&gt;-->
<!--                        <div class="center-align" ng-hide="(viewMode < 2 && skins.length > 0 && !loading) || (viewMode == 2 && !!ownSkins && ownSkins.length > 0)">-->
<!--                            <a class="galleryImage galleryImagePlaceholder" ng-repeat="x in [].constructor(64) track by $index">-->
<!--                                <img class="skull-image" src="/img/questionhead.png">-->
<!--                            </a>-->
<!--                        </div>-->

                        <div class="center-align" ng-if="viewMode !== 2">
                            <a href="" ng-click="loadMore()" observeme-load scrolly="loadMore()">load more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <!-- TODO: add this back, maybe
        <div class="card-panel z-depth-2" ng-show="$storage.recentSkins && $storage.recentSkins.length>0">
            <div class="row">
                <div class="col s12">
                    <h4>Your Skins</h4>

                    <div>
                        <a class="galleryImage tooltipped" data-delay="20" data-position="top" data-tooltip="{{ skin.substr(0, 8) }}" href="/{{skin}}" ng-repeat="skin in $storage.recentSkins | limitTo:8" ui-sref="gallery.view({id:skin})" ui-sref-options="{notify:false}">
                            <img ng-class="{'skull-image': !browser.isFirefox()}" src="/img/loading.svg" ng-preload-src="https://api.mineskin.org/render/{{ skin }}/head">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="col hide-on-small-only m2">
        <div google-ad="4698154800" scroll-with-view></div>
    </div>
</div>
<a href="" id="back-to-top" ng-click="backToTop()">
    <i aria-hidden="true" class="fa fa-arrow-circle-up"></i>
</a>
