<div class="container">

    <div style="margin: 15px 1vw 1vw;">
        <picture id="infographic-picture">
            <!--&lt;!&ndash;            <source srcset="/img/infographic-2560w.jpg" media="(prefers-color-scheme: light)">&ndash;&gt;-->
            <!--            <source srcset="/img/infographic-256w.jpg" media="(prefers-color-scheme: light; max-width: 300px)">-->
            <!--            <source srcset="/img/infographic-640w.jpg" media="(prefers-color-scheme: light; max-width: 700px)">-->
            <!--            <source srcset="/img/infographic-1280w.jpg" media="(prefers-color-scheme: light; max-width: 1300px)">-->
            <!--            <source srcset="/img/infographic-1920w.jpg" media="(prefers-color-scheme: light; max-width: 2000px)">-->

            <!--&lt;!&ndash;            <source srcset="/img/infographic-dark-2560w.jpg" media="(prefers-color-scheme: dark)">&ndash;&gt;-->
            <!--            <source srcset="/img/infographic-dark-256w.jpg" media="(prefers-color-scheme: dark; max-width: 300px)">-->
            <!--            <source srcset="/img/infographic-dark-640w.jpg" media="(prefers-color-scheme: dark; max-width: 700px)">-->
            <!--            <source srcset="/img/infographic-dark-1280w.jpg" media="(prefers-color-scheme: dark; max-width: 1300px)">-->
            <!--            <source srcset="/img/infographic-dark-1920w.jpg" media="(prefers-color-scheme: dark; max-width: 2000px)">-->


            <img
                    alt="Upload Image, Generate, Retrieve Skin Data"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAiAQMAAACtJENtAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAA5JREFUKM9jGAWjgCIAAAJCAAGecuZhAAAAAElFTkSuQmCC"
                    title="Upload Image, Generate, Retrieve Skin Data">
        </picture>
    </div>

    <h2 class="show-on-med-and-up hide-on-small-only">Generate New Skin <a class="btn hide-on-med-and-down" href="#tab2" style="float: right;" ui-sref="gallery()">Browse Existing Skins</a></h2>
    <h4 class="show-on-small hide-on-med-and-up">Generate New Skin</h4>

    <div class="card-panel z-depth-2">
        <div class="row">
            <div class="col s12 m7">
                <h3>Select Skin</h3>

                <div>
                    <a href="https://beta.mineskin.org?utm_source=website_v1&utm_medium=banner&utm_campaign=generate_panel_link"><i aria-hidden="true" class="fa fa-arrow-right"></i> <strong>Try the new Website</strong></a> - <a href="https://docs.mineskin.org/blog/mineskin-v2?utm_source=website_v1&utm_medium=banner&utm_campaign=generate_panel_link" target="_blank">Read More</a>
                </div>

                <form class="col s12" name="uploadForm">
                    <div class="row">
                        <div ng-show="!skinUrl && !skinUser" class="input-field file-field col s12">
                            <div ngf-drop ng-model="skinUpload" class="drop-box">
                                <div ng-show="!skinUpload">
                                    <a type="file" ngf-select class="btn" id="skinUpload" name="file" ng-model="skinUpload" ngf-pattern="'image/png'" ngf-accept="'image/png'" ngf-max-size="16KB" ngf-dimensions="$width == 64 && ($height == 32 || $height == 64)" ngf-run-all-validations="true" ngf-model-options="{allowInvalid: true}"><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp; Select
                                        File
                                    </a>
                                </div>
                                <div ng-show="skinUpload" style="padding-top: 4px;">
                                    <img src="" ngf-src="skinUpload" id="skinUploadTempImage" style="display:none;">
                                    <img src="" ngf-thumbnail="skinUpload" class="z-depth-1" style="height:128px;margin:2px;image-rendering: pixelated">
                                    <a class="btn" ng-click="skinUpload=null;">X</a>
                                    <br/>
                                    {{ skinUpload.name }}
                                </div>
                                <ul ng-show="uploadForm.file.$invalid">
                                    <li ng-show="uploadForm.file.$error.dimensions">Image dimensions are {{ skinUpload.$ngfWidth }}x{{ skinUpload.$ngfHeight }}, must be either 64x32 or 64x64</li>
                                    <li ng-show="uploadForm.file.$error.maxSize">Image size is {{ skinUpload.size / 1000 | number: 1 }} KB, must be at most 16 KB</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="!skinUpload && !skinUser" class="input-field col s12">
                            <input type="url" id="skinUrl" ng-model="skinUrl" ng-required="!skinUpload && !skinUser">
                            <label for="skinUrl" class="required-label"><i class="fa fa-link" aria-hidden="true"></i>&nbsp; Image URL</label>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="!skinUrl && !skinUpload" class="input-field col s12">
                            <input id="skinUser" ng-change="skinName = skinUser" ng-maxlength="36" ng-minlength="2" ng-model="skinUser" ng-required="!skinUrl && !skinUpload" type="text">
                            <label for="skinUser" class="required-label"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Minecraft Username</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12 m5 right hide-on-small-only">
                <iframe frameborder="0" id="skinRender" style="display: none;min-height: min(40vw,40vh);max-height:500px; min-width:200px;max-width:220px;"></iframe>
                <script async src="/js/generate.minerender.js"></script>
            </div>
        </div>
    </div>

    <div google-ad="7160666614"></div>

    <div class="card-panel z-depth-2">
        <h3>Options</h3>

        <div class="row">
            <form class="col s12">
                <div class="input-field col s12">
                    <input id="skinName" maxlength="20" ng-maxlength="20" ng-model="skinName" type="text">
                    <label for="skinName">Skin Name (optional)</label>
                </div>
                <div class="input-field col s12">
                    <select id="skinVariant" ng-model="skinVariant" value="">
                        <option value="">Automatic</option>
                        <option value="classic">Classic (Steve)</option>
                        <option value="slim">Slim (Alex)</option>
                    </select>
                    <label>Skin Variant</label>
                </div>
                <div>
                    <div class="switch">
                        <label>
                            Public
                            <input type="checkbox" ng-model="privateUpload">
                            <span class="lever"></span>
                            Unlisted
                        </label>
                    </div>
                    <!--TODO: option for anonymous upload (don't link to user) -->
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <button class="btn" ng-disabled="generating || generatorTimeout > 0 || (!skinUrl && (!skinUpload || uploadForm.file.$invalid) && !skinUser)" ng-click="generate()">Generate!</button>
                    <br/>
                    <span class="help-block" ng-show="generatorTimeout > 0">Please wait {{generatorTimeout}} more second(s)...</span>
                    <div class="progress" ng-show="generating">
                        <div class="indeterminate" ng-class="{indeterminate: generateProgress === 0 || generateProgress >= 100, determinate: generateProgress > 0 && generateProgress < 100}" ng-style="{'width': generateProgress + '%'}"></div>
                    </div>
                </div>

                <span class="pull-left">
                    <br/>
                    <a href="/bulk"><i aria-hidden="true" class="fas fa-bars"></i> Need to generate more?</a>
                    <br/>
                    <a href="#" ng-click="setApiKey()"><i aria-hidden="true" class="fas fa-key"></i> Set API Key</a>
                </span>
                <span class="pull-right">
                    <strong class="pull-right">Share</strong>
                    <br/>
                    <link rel="me" href="https://twitter.com/MineSkinOrg">
                    <a href="https://twitter.com/share" data-show-count="false" twitter></a>
                </span>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <div class="card-panel z-depth-2" ng-init="refreshStats()">
        <div class="row">
            <div class="col s12">
                <h4>{{ stats.skin.total | number:0 }} skins generated by {{ stats.account.global.healthy | number:0 }} accounts across 8 servers</h4>
                <a class="pull-right" ui-sref="index.stats">More Stats</a>
            </div>
        </div>
    </div>

    <script async src="/js/generate.infographic.js"></script>
</div>
