<div class="modal" id="viewModal">
    <div class="modal-content">
        <style>
            .skin-image {
                -webkit-filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.5));

                min-width: 150px;
                min-height: 150px;
            }
        </style>

        <div class="row card-panel" ng-show="!skin">
            <div class="col s12">
                <div class="center">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="skin">
            <h4>{{ skin.name || skin.uuid.substr(0, 8)}}
                <small class="text-muted">{{skin.private ? "(private)" : ""}}</small>
            </h4>
            <div class="row card-panel">
                <div class="col s3" style="min-width: 195px; min-height: 415px; z-index:1;">
                    <div id="skinImageContainer">
                        <div style="min-height: 406px;">
                            <img src="https://api.mineskin.org/render/skin?url={{skin.data.texture.url}}&skinName={{skin.name}}&options=%26aa=true%26hr={{skinRotation}}" id="skinImage" class="center-align skin-image">
                        </div>
                        <div style="padding-top: 20px;" class="text-center">
                            <div class="btn-group">
                                <button class="btn btn-primary" title="Rotate Left" ng-click="skinRotation = (skinRotation - 36) % 360" ng-disabled="!skinImageLoaded"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                                <button class="btn btn-primary" title="Rotate Right" ng-click="skinRotation = (skinRotation + 36) % 360" ng-disabled="!skinImageLoaded"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="skinRenderContainer" style="display: none;">
                        <iframe frameborder="0" src="#" id="skinRender" style="min-height:450px;max-height:500px; min-width:200px;max-width:220px;"></iframe>
                    </div>
                    <span id="skinRenderId" style="display:none">{{ skin.uuid }}</span>
                    <script>
                        $(document).ready(function () {
                            $("#skinImage").on("load", function () {
                                if (!/bot|googlebot|crawler|spider|robot|crawling/i.test(navigator.userAgent)) {// disable for crawlers
                                    $("#skinRender").attr("src", "https://minerender.org/embed/skin/?skin=https://api.mineskin.org/render/texture/" + $("#skinRenderId").text() + "&autoResize=true&shadow=true&camera.position=-15,35,20&controls.pan=false&utm_source=mineskin&utm_medium=website&utm_campaign=skin_preview");
                                    $("#skinRender").on("load", function () {
                                        $("#skinImageContainer").hide();
                                        $("#skinRenderContainer").show();
                                    })
                                }
                            })
                        });
                    </script>
                </div>
                <div class="col s9" style="z-index:1;">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <label for="skinLink">Direct Link</label>
                            <input id="skinLink" ng-model="'https://minesk.in/' + skin.uuid" readonly type="text">
                            <button class="btn tooltipped" data-clipboard-target="#skinLink"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="textureValue">Texture Value</label>
                            <input type="text" readonly id="textureValue" ng-model="skin.data.texture.value">
                            <button class="btn tooltipped" data-clipboard-target="#textureValue"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="textureSignature">Texture Signature</label>
                            <input type="text" readonly id="textureSignature" ng-model="skin.data.texture.signature">
                            <button class="btn tooltipped" data-clipboard-target="#textureSignature"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="textureUrl">Texture URL</label>
                            <input type="text" readonly id="textureUrl" ng-model="skin.data.texture.url">
                            <button class="btn tooltipped" data-clipboard-target="#textureUrl"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <br>

                            <a href="https://my.minecraft.net/profile/skin/remote?url={{skin.data.texture.url}}" target="_blank">Use this Skin</a><br/>
                            <a href="{{skin.data.texture.url}}" target="_blank">Download Skin</a> (Right-Click &gt; Save as)
                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row card-panel">
                <h5 id="vanilla">Vanilla /give Command</h5>
                <div class="col s12">
                    <div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select ng-model="giveCommandVersion">
                                    <option value="1_12">1.12 and older</option>
                                    <option value="1_13" selected>1.13 and newer</option>
                                    <option value="1_16">1.16 and newer</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div ng-show="giveCommandVersion == '1_12'">
                                    <label for="giveCommand1_12">Skull /give Command</label>
                                    <textarea class="materialize-textarea" id="giveCommand1_12" readonly style="min-height: 150px;max-width:100%;">/give @p minecraft:skull 1 3 {SkullOwner:{Id:{{skin.data.uuid}},Properties:{textures:[{Value:"{{skin.data.texture.value}}",Signature:"{{skin.data.texture.signature}}"}]}},display:{Name:"{{ skin.name || skin.uuid.substr(0, 8)}}",Lore:["Skin {{skin.uuid.substr(0, 8)}}","generated on {{(skin.timestamp*1000 | date : "medium")}}","via MineSkin.org","https://minesk.in/{{skin.uuid}}"]}}</textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#giveCommand1_12"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
                                </div>
                                <div ng-show="giveCommandVersion == '1_13'">
                                    <label for="giveCommand1_13">Player Head /give Command</label>
                                    <textarea class="materialize-textarea" id="giveCommand1_13" readonly style="min-height: 150px;max-width:100%;">give @p minecraft:player_head{SkullOwner:{Id:{{skin.data.uuid}},Properties:{textures:[{Value:"{{skin.data.texture.value}}",Signature:"{{skin.data.texture.signature}}"}]}},display:{Name:"{\"text\":\"{{ skin.name || skin.uuid.substr(0, 8)}}\"}",Lore:["{\"text\":\"Skin {{skin.uuid.substr(0, 8)}}\"}","{\"text\":\"generated on {{(skin.timestamp*1000 | date : "medium")}}\"}","{\"text\":\"via MineSkin.org\"}","{\"text\":\"https://minesk.in/{{skin.uuid}}\"}"]}}</textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#giveCommand1_13"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
                                </div>
                                <div ng-show="giveCommandVersion == '1_16'">
                                    <label for="giveCommand1_16">Player Head /give Command</label>
                                    <textarea class="materialize-textarea" id="giveCommand1_16" readonly style="min-height: 150px;max-width:100%;">give @p minecraft:player_head{SkullOwner:{Id:{{skin.data.uuidAsArray}},Properties:{textures:[{Value:"{{skin.data.texture.value}}",Signature:"{{skin.data.texture.signature}}"}]}},display:{Name:"{\"text\":\"{{ skin.name || skin.uuid.substr(0, 8)}}\"}",Lore:["{\"text\":\"Skin {{skin.uuid.substr(0, 8)}}\"}","{\"text\":\"generated on {{(skin.timestamp*1000 | date : "medium")}}\"}","{\"text\":\"via MineSkin.org\"}","{\"text\":\"https://minesk.in/{{skin.uuid}}\"}"]}}</textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#giveCommand1_16"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row card-panel">
                <h5 id="java">Java Code</h5>
                <div class="col s12">
                    <div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select ng-model="javaCodeAPI">
                                    <option value="paper" selected>Paper API</option>
                                    <option value="mojang">Mojang API</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-show="javaCodeAPI == 'mojang'">
                                <div class="input-field col s12">
                                    <label for="javaGameProfile">Java (Mojang API/AuthLib Game Profile)</label>
                                    <textarea class="materialize-textarea" id="javaGameProfile" readonly style="min-height: 150px;max-width:100%;">// Skin {{skin.uuid.substr(0, 8)}} generated on {{(skin.timestamp*1000 | date : "medium")}} via MineSkin.org - https://minesk.in/{{skin.uuid}}
GameProfile skin{{skin.uuid.substr(0, 8)}} = new GameProfile(UUID.fromString("{{skin.data.uuid}}"), "skin{{skin.uuid.substr(0, 8)}}");
skin{{skin.uuid.substr(0, 8)}}.getProperties().put("textures", new Property("textures", "{{skin.data.texture.value}}", "{{skin.data.texture.signature}}"));
                                    </textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#javaGameProfile"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
                                </div>
                            </div>
                            <div ng-show="javaCodeAPI == 'paper'">
                                <div class="input-field col s12">
                                    <label for="javaPlayerProfile">Java (Paper API/Player Profile)</label>
                                    <textarea class="materialize-textarea" id="javaPlayerProfile" readonly style="min-height: 150px;max-width:100%;">// Skin {{skin.uuid.substr(0, 8)}} generated on {{(skin.timestamp*1000 | date : "medium")}} via MineSkin.org - https://minesk.in/{{skin.uuid}}
PlayerProfile skin{{skin.uuid.substr(0, 8)}} = Bukkit.createProfile(UUID.fromString("{{skin.data.uuid}}"), "skin{{skin.uuid.substr(0, 8)}}");
skin{{skin.uuid.substr(0, 8)}}.setProperty(new ProfileProperty("textures", "{{skin.data.texture.value}}", "{{skin.data.texture.signature}}"));
                                    </textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#javaPlayerProfile"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row card-panel">
                <h5 id="mods">Plugin/Mod Commands</h5>
                <div class="col s12">
                    <div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select ng-model="modCommand">
                                    <option value="citizens">Citizens</option>
                                    <option value="taterzens">Taterzens</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div ng-show="modCommand == 'citizens'">
                                    <label for="citizensCommand">Citizens /npc skin Command</label>
                                    <textarea class="materialize-textarea" id="citizensCommand" readonly style="min-height: 10px;max-width:100%;">/npc skin --url https://minesk.in/{{ skin.uuid }}</textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#citizensCommand"><i aria-hidden="true" class="fa fa-clipboard"></i> Copy</button>
                                </div>
                                <div ng-show="modCommand == 'taterzens'">
                                    <label for="taterzensCommand">Taterzens /npc edit skin Command</label>
                                    <textarea class="materialize-textarea"  id="taterzensCommand" readonly style="min-height: 10px;max-width:100%;">/npc edit skin https://minesk.in/{{ skin.uuid }}</textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#taterzensCommand"><i aria-hidden="true" class="fa fa-clipboard"></i> Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="pull-left">
                    {{ skin.views }} views
                </div>
                <div class="pull-right">
                    <div ng-show="skin.timestamp > 0" class="text-muted">
                        Generated on {{(skin.timestamp*1000 | date : "medium")}}<span ng-show="skin.accountId > 0"> by account #{{skin.accountId}}</span> {{ (skin.timestamp>1504564600?"in "+(skin.duration/1000.0)+"s":"") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="viewScrollBtn" style="position: fixed; left: 50%; bottom: 5px; opacity: 0.5; font-size: 50px; text-decoration: none; color: black; text-align: center; transform: translateX(-50%);">
        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
    </a>
    <script>
        var clipboard = new Clipboard('.btn');

        function setTooltip(btn, message) {
            $(btn).tooltip({delay: 1, tooltip: message, position: "bottom"}).trigger("mouseenter")
        }

        function hideTooltip(btn) {
            setTimeout(function () {
                $(btn).tooltip('remove');
            }, 5000);
        }

        $("#viewModal").on("scroll",function (e) {
            if (this.scrollTop > 10) {
                $("#viewScrollBtn").hide();
            }else{
                $("#viewScrollBtn").show();
            }
        });
        $("#viewScrollBtn").on("click", function (e) {
            $("#viewModal").animate({scrollTop: 900}, 800, "swing");
            ga("send", "event", "SkinView", "ScrollDown");
        });

        clipboard.on('success', function (e) {
            setTooltip(e.trigger, 'Copied!');
            hideTooltip(e.trigger);

            ga("send", "event", "SkinViewData", "CopyData", e.trigger.dataset.clipboardTarget);
        });

        clipboard.on('error', function (e) {
            setTooltip(e.trigger, 'Failed!');
            hideTooltip(e.trigger);
        });
    </script>
</div>
